@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;300;400;500;700;800;900&family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}

body {
   background: #475d4c; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: #e8cfa1;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 18px;
    color: #e8cfa1;
    text-decoration: none;
    font-weight: 400;
    margin-left: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.navbar a:hover {
    color: #efefef;
}